name: Fuzzing

on: [push, pull_request]

permissions:
  contents: read

jobs:
  fuzzing:
    name: Fuzz
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
        with:
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@b39b52d1213e96004bfcb1c61a8a6fa8ab84f3e8 # v4.0.1
        with:
          node-version: lts/*

      - name: Install
        run: |
          npm install

      - name: Run fuzzing
        timeout-minutes: 10
        run: |
          npm run fuzz

      - uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4.3.1
        if: ${{ failure() }}
        with:
          name: undici-fuzz-results-${{ github.sha }}
          path: |
            corpus/
            crash-*
            fuzz-results-*.json
