name: Fuzzing

on: [push, pull_request]

permissions:
  contents: read

jobs:
  fuzzing:
    name: Fuzz
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        with:
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@e33196f7422957bea03ed53f6fbb155025ffc7b8 # v3.7.0
        with:
          node-version: lts/*

      - name: Install
        run: |
          npm install

      - name: Run fuzzing
        timeout-minutes: 10
        run: |
          npm run fuzz

      - uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        if: ${{ failure() }}
        with:
          name: undici-fuzz-results-${{ github.sha }}
          path: |
            corpus/
            crash-*
            fuzz-results-*.json
