name: Node.js compiled --shared-builtin-undici/undici-path CI

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: string
      node-download-server-path:
        required: false
        type: string
        default: '/release'

permissions:
  contents: read

jobs:
  test-shared-builtin:
    name: Test with Node.js ${{ inputs.node-version }} compiled --shared-builtin-undici/undici-path
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
      # Checkout into a subdirectory otherwise Node.js tests will break due to finding Undici's package.json in a parent directory.
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          path: ./undici
          persist-credentials: false

      # Setup node, install deps, and build undici prior to building node with `--shared-builtin-undici/undici-path` and testing
      - name: Setup Node.js lts/*
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 'lts/*'

      - name: Install dependencies
        working-directory: ./undici
        run: npm install

      - name: Install wasi-libc
        run: sudo apt-get install -y wasi-libc binaryen

      - name: Build WASM
        working-directory: ./undici
        run: |
          export EXTERNAL_PATH=${{ github.workspace }}/undici
          export WASM_CC=clang
          export WASM_CFLAGS='--target=wasm32-wasi --sysroot=/usr'
          export WASM_LDFLAGS='-nodefaultlibs'
          export WASM_LDLIBS='-lc'
          node build/wasm.js

      - name: Determine latest release for Node.js ${{ inputs.node-version }}
        id: release
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          result-encoding: string
          script: |
            const req = await fetch('https://nodejs.org/download${{ inputs.node-download-server-path }}/index.json')
            const releases = await req.json()

            const latest = releases.find((r) => r.version.startsWith('v${{ inputs.node-version }}'))
            return latest.version

      - name: Download and extract source for Node.js ${{ steps.release.outputs.result }}
        run: curl https://nodejs.org/download${{ inputs.node-download-server-path }}/${{ steps.release.outputs.result }}/node-${{ steps.release.outputs.result }}.tar.xz | tar xfJ -

      - name: Install ninja
        run: sudo apt-get install ninja-build

      - name: ccache
        uses: hendrikmuhs/ccache-action@bfa03e1de4d7f7c3e80ad9109feedd05c4f5a716 #v1.2.19
        with:
          key: node(external_undici)${{ inputs.node-version }}

      - name: Build node ${{ steps.release.outputs.result }} with --shared-builtin-undici/undici-path
        working-directory: ./node-${{ steps.release.outputs.result }}
        run: |
          export CC="ccache gcc"
          export CXX="ccache g++"
          rm -rf deps/undici
          ./configure --shared-builtin-undici/undici-path ${{ github.workspace }}/undici/loader.js --ninja --prefix=./final
          make
          make install
          echo "$(pwd)/final/bin" >> $GITHUB_PATH

      - name: Print version information
        run: |
          echo OS: $(node -p "os.version()")
          echo Node.js: $(node --version)
          echo "Node.js built-in dependencies: $(node -p "'\r\n' + (Object.entries(process.versions).map(([k, v], i, arr) => (i !== arr.length - 1 ? '├──' : '└──') + k + '@' + v)).join('\r\n')")"
          echo npm: $(npm --version)
          echo git: $(git --version)
          echo external config: $(node -e "console.log(process.config)" | grep NODE_SHARED_BUILTIN_UNDICI_UNDICI_PATH)
          echo Node.js built-in undici version: $(node -p "process.versions.undici") # undefined for external Undici

      - name: Run tests
        working-directory: ./node-${{ steps.release.outputs.result }}
        run: tools/test.py -p dots --flaky-tests=dontcare

