# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions


name: Node CI

on: [push, pull_request]

jobs:
  build:
    name: Test

    uses: pkgjs/action/.github/workflows/node-test.yaml@v0.1
    with:
      runs-on: ubuntu-latest, windows-latest
      test-command: npm run coverage:ci
      post-test-steps: |
        - name: Coverage Report
          uses: codecov/codecov-action@v2
