name: Run tests

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: string
      runs-on:
        required: true
        type: string

permissions:
  contents: read

jobs:
  test:
    name: Test with Node.js ${{ inputs.node-version }} on ${{ inputs.runs-on }}
    timeout-minutes: 15
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          submodules: recursive

      - name: Setup Node.js@${{ inputs.node-version }}
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: ${{ inputs.node-version }}

      - name: Print version information
        run: |
          echo OS: $(node -p "os.version()")
          echo Node.js: $(node --version)
          echo npm: $(npm --version)
          echo git: $(git --version)

      - name: Install dependencies
        run: npm install

      - name: Print installed dependencies
        run: npm ls --all
        continue-on-error: true

      - name: Configure hosts file for WPT (Windows)
        if: runner.os == 'Windows'
        run: |
          cd ${{ github.workspace }}\test\web-platform-tests\wpt
          python wpt make-hosts-file | Out-File $env:SystemRoot\System32\drivers\etc\hosts -Encoding ascii -Append
        shell: powershell

      - name: Configure hosts file for WPT (Unix)
        if: runner.os != 'Windows'
        run: |
          cd ${{ github.workspace }}/test/web-platform-tests/wpt
          python3 wpt make-hosts-file | sudo tee -a /etc/hosts

      - name: Run tests with coverage
        id: coverage
        if: inputs.runs-on == 'ubuntu-latest' && inputs.node-version == 22
        run: npm run coverage:ci
        env:
          CI: true
          NODE_V8_COVERAGE: ./coverage/tmp

      - name: Run tests
        if: steps.coverage.outcome == 'skipped'
        run: npm run test:javascript
        env:
          CI: true

      - name: Coverage Report
        if: inputs.runs-on == 'ubuntu-latest' && inputs.node-version == 20
        uses: codecov/codecov-action@18283e04ce6e62d37312384ff67231eb8fd56d24 # v5.4.3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
